.App{
    margin: 0;
    padding: 0;
    
}
.App{
    width:100%;
    min-height: 801px;
    background: url('./assets/app-bg.jpg') no-repeat fixed center ;
    overflow: hidden;
    background-color: #cccccc;
    background-size: 100%;
    /* background-blend-mode: ; */
    opacity: 0.8;
    
}